---
http_interactions:
- request:
    method: get
    uri: http://gdata.youtube.com/feeds/api/videos/DAcjV60RnRw?alt=json&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdata-User-Country:
      - CH
      Content-Type:
      - application/json; charset=UTF-8
      Gdata-Version:
      - '2.1'
      Etag:
      - W/"CUAARX47eCp7I2A9WhBTEUk."
      Last-Modified:
      - Wed, 06 Feb 2013 09:42:24 GMT
    body:
      encoding: US-ASCII
      string: ! '{"version":"1.0","encoding":"UTF-8","entry":{"xmlns":"http://www.w3.org/2005/Atom","xmlns$media":"http://search.yahoo.com/mrss/","xmlns$gd":"http://schemas.google.com/g/2005","xmlns$yt":"http://gdata.youtube.com/schemas/2007","gd$etag":"W/\"CUAARX47eCp7I2A9WhBTEUk.\"","id":{"$t":"tag:youtube.com,2008:video:DAcjV60RnRw"},"published":{"$t":"2012-11-20T21:06:53.000Z"},"updated":{"$t":"2013-02-06T09:42:24.000Z"},"category":[{"scheme":"http://schemas.google.com/g/2005#kind","term":"http://gdata.youtube.com/schemas/2007#video"},{"scheme":"http://gdata.youtube.com/schemas/2007/categories.cat","term":"Tech","label":"Science
        & Technology"}],"title":{"$t":"Will We Ever Run Out of New Music?"},"content":{"type":"application/x-shockwave-flash","src":"http://www.youtube.com/v/DAcjV60RnRw?version=3&f=videos&app=youtube_gdata"},"link":[{"rel":"alternate","type":"text/html","href":"http://www.youtube.com/watch?v=DAcjV60RnRw&feature=youtube_gdata"},{"rel":"http://gdata.youtube.com/schemas/2007#video.responses","type":"application/atom+xml","href":"http://gdata.youtube.com/feeds/api/videos/DAcjV60RnRw/responses?v=2"},{"rel":"http://gdata.youtube.com/schemas/2007#video.related","type":"application/atom+xml","href":"http://gdata.youtube.com/feeds/api/videos/DAcjV60RnRw/related?v=2"},{"rel":"http://gdata.youtube.com/schemas/2007#mobile","type":"text/html","href":"http://m.youtube.com/details?v=DAcjV60RnRw"},{"rel":"http://gdata.youtube.com/schemas/2007#uploader","type":"application/atom+xml","href":"http://gdata.youtube.com/feeds/api/users/6nSFpj9HTCZ5t-N3Rm3-HA?v=2"},{"rel":"self","type":"application/atom+xml","href":"http://gdata.youtube.com/feeds/api/videos/DAcjV60RnRw?v=2"}],"author":[{"name":{"$t":"Vsauce"},"uri":{"$t":"http://gdata.youtube.com/feeds/api/users/Vsauce"},"yt$userId":{"$t":"6nSFpj9HTCZ5t-N3Rm3-HA"}}],"yt$accessControl":[{"action":"comment","permission":"allowed"},{"action":"commentVote","permission":"allowed"},{"action":"videoRespond","permission":"moderated"},{"action":"rate","permission":"allowed"},{"action":"embed","permission":"allowed"},{"action":"list","permission":"allowed"},{"action":"autoPlay","permission":"allowed"},{"action":"syndicate","permission":"allowed"}],"gd$comments":{"gd$feedLink":{"rel":"http://gdata.youtube.com/schemas/2007#comments","href":"http://gdata.youtube.com/feeds/api/videos/DAcjV60RnRw/comments?v=2","countHint":22396}},"yt$hd":{},"media$group":{"media$category":[{"$t":"Tech","label":"Science
        & Technology","scheme":"http://gdata.youtube.com/schemas/2007/categories.cat"}],"media$content":[{"url":"http://www.youtube.com/v/DAcjV60RnRw?version=3&f=videos&app=youtube_gdata","type":"application/x-shockwave-flash","medium":"video","isDefault":"true","expression":"full","duration":708,"yt$format":5},{"url":"rtsp://v2.cache4.c.youtube.com/CiILENy73wIaGQkcnRGtVyMHDBMYDSANFEgGUgZ2aWRlb3MM/0/0/0/video.3gp","type":"video/3gpp","medium":"video","expression":"full","duration":708,"yt$format":1},{"url":"rtsp://v2.cache4.c.youtube.com/CiILENy73wIaGQkcnRGtVyMHDBMYESARFEgGUgZ2aWRlb3MM/0/0/0/video.3gp","type":"video/3gpp","medium":"video","expression":"full","duration":708,"yt$format":6}],"media$credit":[{"$t":"vsauce","role":"uploader","scheme":"urn:youtube","yt$display":"Vsauce","yt$type":"partner"}],"media$description":{"$t":"Click
        here to subscribe to Vsauce (it''s free!): http://bit.ly/POIaN7\n\nLinks Below:\n\nAxis
        of Awesome 4 Chords: http://www.youtube.com/watch?v=oOlDewpCfZQ\n\nInteractive
        video demonstrating common meter: http://www.youtube.com/watch?v=4ZqR_M20Y48\n\nEverything
        is a Remix: http://www.everythingisaremix.info/watch-the-series/\n\nStairway
        to Gilligan''s Island: http://www.youtube.com/watch?v=KTCYLbFxTpI\n\nWeSauce:
        http://www.youtube.com/wesauce\n\nJAKE CHUDNOW''s channel: http://www.youtube.com/jakechudnow\n\nCovered
        in Bees calculates the number of possible 5 minute CD-quality audio files:
        http://www.coveredinbees.org/node/264\n\nferrouslepidoptera calculation: http://everything2.com/title/How+many+melodies+are+there+in+the+universe%253F\n\nyerricde
        calculates with only 3 note-lengths allowed per melody: http://everything2.com/title/Yes%21+We+have+no+bananas%21\n\nSounds
        Just Like: http://soundsjustlike.com/\n\nsongs that sound like other songs
        [StraightDope forum]: http://boards.straightdope.com/sdmb/showthread.php?t=604234&page=2\n\nCommon
        Meter on TV Tropes: http://tvtropes.org/pmwiki/pmwiki.php/Main/CommonMeter\n\nCompression
        and song enjoyabliility: http://www.lifeslittlemysteries.com/1122-what-makes-music-enjoyable.html\n\nCompression
        and song enjoyability [PDF]: http://www.biomedcentral.com/content/pdf/1756-0500-4-9.pdf\n\nMy
        Sweet Lord vs He''s So Fine: http://en.wikipedia.org/wiki/My_Sweet_Lord#Plagiarism_suit\n\nWhy
        are octaves divided into 12 intervals: http://thinkzone.wlonk.com/Music/12Tone.htm","type":"plain"},"media$keywords":{},"media$license":{"$t":"youtube","type":"text/html","href":"http://www.youtube.com/t/terms"},"media$player":{"url":"http://www.youtube.com/watch?v=DAcjV60RnRw&feature=youtube_gdata_player"},"media$thumbnail":[{"url":"http://i.ytimg.com/vi/DAcjV60RnRw/default.jpg","height":90,"width":120,"time":"00:05:54","yt$name":"default"},{"url":"http://i.ytimg.com/vi/DAcjV60RnRw/mqdefault.jpg","height":180,"width":320,"yt$name":"mqdefault"},{"url":"http://i.ytimg.com/vi/DAcjV60RnRw/hqdefault.jpg","height":360,"width":480,"yt$name":"hqdefault"},{"url":"http://i.ytimg.com/vi/DAcjV60RnRw/sddefault.jpg","height":480,"width":640,"yt$name":"sddefault"},{"url":"http://i.ytimg.com/vi/DAcjV60RnRw/1.jpg","height":90,"width":120,"time":"00:02:57","yt$name":"start"},{"url":"http://i.ytimg.com/vi/DAcjV60RnRw/2.jpg","height":90,"width":120,"time":"00:05:54","yt$name":"middle"},{"url":"http://i.ytimg.com/vi/DAcjV60RnRw/3.jpg","height":90,"width":120,"time":"00:08:51","yt$name":"end"}],"media$title":{"$t":"Will
        We Ever Run Out of New Music?","type":"plain"},"yt$aspectRatio":{"$t":"widescreen"},"yt$duration":{"seconds":"708"},"yt$uploaded":{"$t":"2012-11-20T21:06:53.000Z"},"yt$uploaderId":{"$t":"UC6nSFpj9HTCZ5t-N3Rm3-HA"},"yt$videoid":{"$t":"DAcjV60RnRw"}},"gd$rating":{"average":4.8696203,"max":5,"min":1,"numRaters":75564,"rel":"http://schemas.google.com/g/2005#overall"},"yt$statistics":{"favoriteCount":"0","viewCount":"7547695"},"yt$rating":{"numDislikes":"2463","numLikes":"73101"}}}'
  recorded_at: Wed, 06 Feb 2013 09:47:44 GMT
recorded_with: VCR 2.4.0
